.navbar{
    display: flex;
    padding: 0.5em 2em ;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: hsl(0, 0%, 98%);
    @media (max-width:900px){
       justify-content: space-between;
       padding: 0.1em 1em;
    }

   h1{
    font-size: 3rem;
    cursor: pointer;
    @media (max-width:900px){
        font-size: 2em;
    }
   }

    .nav-desktop{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
   @media (max-width:900px){display: none;}

   >div>a{
    text-decoration: none;
    font-size: 18px;
    color: hsl(0, 0%, 41%);
    margin: 3px ;
    padding: 6px 20px;
    border-radius: 15px;
    display: flex;
    gap: 5px;
} 
>div>a:hover{
    color: black;
}
        .nav1{
           width: 50%;
           display: flex;
           justify-content: space-evenly;
           margin-left: 3em;

               .drop-down{
                position: relative;
                display: inline-block;
                margin-top: 0.2em;
                padding: 0.2em 1em;
        
                .drop-btn{
                    text-decoration: none;
                    font-size: 18px;
                     color: hsl(0, 0%, 41%);
                    display: flex;
                    gap: 5px;
                }
                .drop-btn:hover{
                    color: black;
                }
                .drop-content{
                    display: none;
                    position: absolute;
                    background-color: hsl(0, 0%, 98%);
                    min-width: 120px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                    margin-top: 10px;
                    border-radius: 10px;
                    a{
                        color: hsl(0, 0%, 41%);
                        padding: 10px 16px;
                        text-decoration: none;
                        display: flex;
                        gap: 10px;
                        font-size: 15px;
                    }
                    >a:hover{
                        background-color: rgba(244, 241, 241, 0.858);
                        color: black;
                    }
                }
               }
            .drop-down:hover{
                   .drop-content{
                         display: block;
                        } 
                   }
    }

        .nav2{
            width: 30%;
            display: flex;
            justify-content: space-evenly;

            a:hover{
                border: 2px solid hsl(0, 0%, 41%);
                color: black;
            }
     
        }
       
        
    }
    .nav-mobile{
        display: none;
     
        @media (max-width:900px){
            display: block;
            margin: 0 0 0 3em;
            font-size: 2em;
            cursor: pointer;
            transition: 0.5s;

            .icon:hover{
                transform: scale(0.95);
            }
        }
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: hsl(0, 0%, 98%);
        overflow-x: hidden; 
        transition: 0.5s;

        a {
            padding: 8px 32px 8px 20px;
            text-decoration: none;
            font-size: 0.8rem;
            color: #818181;
            display: block;
            transition: 0.3s;
            margin-top: 5px;
            display: flex;
            gap: 3px;
          }
        a:hover{
            color: black;
        }
          .nav2{
            margin: 20px 10px;

            a{
                display: flex;
                justify-content: center;
                margin-top: 5px;
                border-radius: 15px;
              }
              a:hover{
                border: 1px solid hsl(0, 0%, 41%);
                color: black;
            } 
          }

          .closebtn {
            display: flex;
            justify-content: flex-end;
            margin: 10px 20px;
            cursor: pointer;
            >svg{
                font-size: 2rem;
                font-weight: 700;
            }
          }

          .panel {
            display: none;
            margin-left: 1em;

            a{
                gap: 5px;
                margin-top: 0;
                border-radius: 10px;
            }
            a:hover{
                background-color: rgba(240, 234, 234, 0.872);
                color: black;
            }
          }

      }

     

      

}
